# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

.env

# User-specific files
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/gradle.xml
.idea/libraries

# OS-specific files
.DS_Store
Thumbs.db

# Log files
*.log

# Build output
/out/
target/

# Exclude the mc folder
mc/
stunnel_certs/
/stunnel_certs/
