# Copyright (C) 2024 In-Game Event, A Red Flag Syndicate LLC
#
# This program is free software: you can redistribute it and/or modify it under the terms of the Server Side Public License, version 1, as published by MongoDB, Inc., with the following additional terms:
#
# - Any use of this software in a commercial capacity requires a commercial license agreement with In-Game Event, A Red Flag Syndicate LLC. Contact licence_request@igearfs.com for details.
#
# - If you choose not to obtain a commercial license, you must comply with the SSPL terms, which include making publicly available the source code for all programs, tooling, and infrastructure used to operate this software as a service.
#
# For licensing inquiries, contact: licence_request@igearfs.com

# /etc/haproxy/haproxy.cfg

# Frontend to handle incoming TCP traffic on port 6666 (decrypted by stunnel)
frontend https-in-6666
    bind *:6666
    default_backend backend_mc_connect_6666

# Frontend to handle incoming TCP traffic on port 6666 (decrypted by stunnel)
frontend https-in-7777
    bind *:6666
    default_backend backend_mc_connect_6666

# Frontend to handle incoming TCP traffic on port 5555 (decrypted by stunnel)
frontend https-in-5555
    bind *:5555
    default_backend backend_mc_connect_5555

# Backend to forward traffic for port 6666
backend backend_mc_connect_6666
    balance roundrobin
    server mc_connect_1 mc-connect-1:6666 check
    server mc_connect_2 mc-connect-2:6666 check

# Backend to forward traffic for port 5555
backend backend_mc_connect_5555
    balance roundrobin
    server mc_connect_1 mc-connect-1:5555 check
    server mc_connect_2 mc-connect-2:5555 check
